<div class="rooms-container">
  <h2>Rooms for Hotel {{ HotelId }}</h2>

 
  <button class="add-room-btn" (click)="onAddRoom()">+ Add Room</button>
   <button class="action-btn add" (click)="goToRoomType()">Room Type Details</button>
<div class="room-form" *ngIf="showForm">
    <h3>{{ isEditMode ? 'Edit Room' : 'Add Room' }}</h3>
    <form (ngSubmit)="onSubmitRoom()">
      <label>
        Room Number:
        <input type="text" [(ngModel)]="formData.roomNumber" name="roomNumber" required />
      </label>

      <label>
        Room Type:
        <select [(ngModel)]="formData.roomTypeId" name="roomTypeId" required>
          <option *ngFor="let rt of roomTypes" [value]="rt.id">
            {{ rt.typeName }}
          </option>
        </select>
      </label>

      <label>
        Price Per Night:
        <input type="number" [(ngModel)]="formData.pricePerNight" name="pricePerNight" required />
      </label>

      <label>
        Status:
        <select [(ngModel)]="formData.status" name="status">
          <option [value]="0">Available</option>
          <option [value]="2">UnderMaintenance</option>
        </select>
      </label>

      <button type="submit"  class="submit-btn">
        {{ isEditMode ? 'Update Room' : 'Add Room' }}
      </button>
      <button type="button" class="cancel-btn" (click)="onCancel()">Cancel</button>
    </form>
  </div>
 
  <table class="rooms-table" *ngIf="roomsList && roomsList.length > 0; else noRooms">
    <thead>
      <tr>
        <th>Room Number</th>
        <th>Room Type</th>
        <th>Capacity</th>
        <th>Price Per Night</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let room of roomsList">
        <td>{{ room.roomNumber }}</td>
        <td>{{ roomTypeMap[room.roomTypeId]?.typeName }}</td>
        <td>{{ roomTypeMap[room.roomTypeId]?.capacity }}</td>
        <td>{{ room.pricePerNight }}</td>
        <td>{{ room.status === 0 ? 'Available' : 'UnderMaintenance' }}</td>
        <td>
          <button class="action-btn edit" (click)="onEditRoom(room)">Edit</button>
          
          <button class="action-btn delete" (click)="onDeleteRoom(room.id)">Delete</button>
          <button class="action-btn booking" (click)="onBooking(room.id)">Show Booking</button>
        </td>
      </tr>
    </tbody>
  </table>

  <ng-template #noRooms>
    <p>No rooms found for this hotel.</p>
  </ng-template>

 
  
</div>
